{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Pub Tool Launcher plugin for Craft CMS 3.x
 *
 * Publauncher Field Input
 *
 * @author    Andy Skogrand
 * @copyright Copyright (c) 2018 Andy Skogrand
 * @link      http://bletchley.co
 * @package   PubToolLauncher
 * @since     1.0.0
 */
#}

{% set baseUrl = craft.app.config.general.pubSiteUrl %}
{% set id = craft.app.request.segments | last | split('-') | first %}

{% js %}
  var $modal;

  $('#fields-openModal').on('click', function(e) {
    e.preventDefault();
    $modal = new Garnish.Modal($('#fields-editor-modal'), {resizable: true});
  });

  var closeModal = function(message) {
    if(message == 'close') {
      $modal.hide();
      window.location.reload(true);
    }
  }

  window.addEventListener('message', function(event) {
    if (~event.origin.indexOf('{{(baseUrl | split('/'))[1]}}')) {
      closeModal(event.data);
    } else {
      return;
    }
  });
{% endjs %}

{% if (id|number_format) %}
  <a class="btn submit" id="openModal" href="{{baseUrl}}{{id}}" target="_blank">
    Edit document contents
  </a>

  <div id="editor-modal" class="modal" style="display: none; width: 900px; height: 900px;">
    <header class="header">
        <h2>Edit Product Content</h2>
    </header>
    <div style="height: 100%">
      <iframe id="pub_editor" height="100%" width="100%" src="{{baseUrl}}{{id}}"></iframe>
    </div>
  </div>
{% else %}
  <p style="color: #da5a47;">Please create the document before adding content.</p>
{% endif %}
